includes:
	- vendor/contributte/phpstan/phpstan.neon

parameters:
	level: 8
	phpVersion: 80100

	paths:
		- src
		- .docs

	reportMaybesInPropertyPhpDocTypes: false

	ignoreErrors:
		# Missing strict comparison
		- '#^Only booleans are allowed in#'

		# Ignore bad php internal functions behavior
		- message: '#^Method Apitte\\Core\\Annotation\\Controller\\OpenApi\:\:purifyDocblock\(\) should return string but returns string\|null\.$#'
		  path: %currentWorkingDirectory%/src/Core/Annotation/Controller/OpenApi.php

		# Ignore unsage usage of new static()
		- '#^Unsafe usage of new static\(\)\.$#'

		# Allow empty()
		- '#Construct empty\(\) is not allowed. Use more strict comparison.$#'

		# ApiRoute optional flag
		- '#Constructor of class Apitte\\Presenter\\ApiRoute has an unused parameter \$flags.$#'

		# Ignore bad php behavior - should not happen
		- message: '#\|false given\.$#'
		  path: %currentWorkingDirectory%/src/Debug/Tracy/BlueScreen/ValidationBlueScreen.php

		# Ignore PHP soft-failing functions
		- message: '#.+(int|string|string\>)\|false.+#'
		  path: %currentWorkingDirectory%/src/OpenApi/SchemaDefinition/Entity/EntityAdapter.php

		# This should not happen because null is returned on error
		- '#Method Apitte\\Core\\Utils\\Helpers::slashless\(\) should return string but returns string\|null\.#'

		- message: "#^Dead catch - TypeError is never thrown in the try block.$#"
		  path: src/Core/Mapping/Parameter/DateTimeTypeMapper.php
		  count: 1
