includes:
	- temp/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon
	- temp/phpstan/vendor/phpstan/phpstan-nette/extension.neon
	- temp/phpstan/vendor/phpstan/phpstan-nette/rules.neon

parameters:
	ignoreErrors:
		# phpstan bug
		- '#^Parameter \#1 \$function of function call_user_func_array expects callable, array\<int, object\|string\> given.$#'

		# Missing strict comparison
		- '#^Construct empty\(\) is not allowed. Use more strict comparison.$#'
		- '#^Only booleans are allowed in#'

		# Magic access
		- '#^Access to private property \$previous of parent class Exception.$#'

		# There is no apitte/negotiation dependency
		- '#^Return typehint of method Apitte\\Core\\Http\\ApiResponse::getEntity\(\) has invalid type Apitte\\Negotiation\\Http\\AbstractEntity.$#'
		- '#^Parameter \$entity of method Apitte\\Core\\Http\\ApiResponse::withEntity\(\) has invalid typehint type Apitte\\Negotiation\\Http\\AbstractEntity.$#'
		- '#^Call to static method from\(\) on an unknown class Apitte\\Negotiation\\Http\\#'
		- '#^Class Apitte\\Negotiation\\Http\\ArrayEntity not found.$#'

		# Maybe will cause application fail - DecoratorManager::decorateResponse could return null, but DecoratedDispatcher is not always able to handle it.
		- '#Method Apitte\\Core\\Dispatcher\\DecoratedDispatcher::handle\(\) should return Psr\\Http\\Message\\ResponseInterface but returns Psr\\Http\\Message\\ResponseInterface|null.#'
